.prediction {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fileInput {
    margin-bottom: 4px;
}

.predictIcon {
    display: block;
    font-size: 80px;
    color: #0d6efd;
    margin: 0 auto;
}

.title {
    margin-top: 4px;
    font-weight: bold;
}
